<h1>ABOUT</h1>

<ul>

  <li>Written in Ruby using <a href="http://www.sinatrarb.com" target="_blank">Sinatra</a> framework by WangYanying. </li> 
  <br>
  <li> <a href="https://github.com/wyying/rising_tide" target="_blank">Source code on Github.</a></li> 
  <br>
  <li> <a href="mailto:wangyanying1@gmail.com" target="_blank">Contact me via Email.</a></li> 
</ul>
