
<h2> 发布Tomcat相关包 </h2>
<hr>

<h3>发布至备份服务器 (v5backup server) </h3>


  <ul>


      <li>
    <p>
      查看配置文件：
      <br>
      <form action="deploy_view_confile" method="post" id="view_confile" target="_blank">
      
        <select name="packname" form="view_confile">
          <% $packnames.each do |e| %>
            <option value="<%= e %>"><%= e %></option>
          <% end %>
        </select>
      
        <input name="commit" type="submit" value="查看"/>
      </form>
    </p>

      </li>





      <li> 

      <p>
      <form action="deploy" method="post" enctype='multipart/form-data'>
        上传需要发布的包文件。
        <br>
        <input type="file" name="myfile"/>
        </p>


        <p>
        如果需要，请输入要增加或者修改的配置文件的内容：
        <textarea rows="7" cols="50" name="confile_content"></textarea>
        </p>



        <p>
        点击按钮开始发布：
        <br>
        <input name="commit" type="submit" value="v5backup"/>
      </form>

      </p>

      </li>


  </ul>



  <br>



  <h3> 发布同步备份服务器相关包至正式服务器 (sync to online server) </h3>
  <ol>
    <li>
    如果需要，请增加配置文件：
    预留位置，此功能暂未完成。。。。。
    </li>
    <li>
    <p>
    select && click button:
    <br>
    <select name="packname" form="sync">
      <option value="api-album.zip">api-album.zip</option>
      <option value="api-yyalbum.war">api-yyalbum.war</option>
      <option value="wap-match.war">wap-match.war</option>
      <option value="web-mc-manager.war">web-mc-manager.war</option>
      <option value="batch-mc-1.000.000-release.zip">batch-mc-1.000.000-release.zip</option>
      <option value="api-yycrbt.war">api-yycrbt.war</option>
      <option value="wap-alipay.war">wap-alipay.war</option>
    </select>
    <br>
    <form action="deploy" method="post" id="sync">
      <input name="commit" type="submit" value="sync"/>
    </form>
    </p>
    </li>
  </ol>


