<h1> Deploy Package Results </h1>



<ul>
      <li> hostname : <%= params[:commit] %> </li>
      <li> packname : <%= params['myfile'][:filename] %> </li>
      <li> <b> result : <%= params[:result] %> </b> </li> 
</ul>



