%h1 Deploy Package Results
%ul
  %li
    hostname : #{params[:commit]}

- regex = Regexp.new("Starting.*OK", Regexp::MULTILINE)

- if params[:result].is_a?(String)
  - if params[:result] =~ regex
    %li
      - if params.include?('myfile')
        packname : #{params['myfile'][:filename]}
      - if params.include?('packname')
        packname : #{params['packname']}
    %li
      %b result : OK
  - else
    - raise params[:result].inspect
- elsif params[:result].is_a?(Array)
  - if params[:result][0] =~ regex and params[:result][1] =~ regex and params[:result][2] =~ regex
    %li
      packname : #{params['packname']}
    %li
      %b result : OK
  - else
    - raise "v5file, v5app, v5app2 =>" + params[:result].inspect
