
<h2> 发布Tomcat相关包 </h2>
<hr>

<ul>
  <li> <h3>发布至备份服务器 (v5backup server) </h3> </li>
  <ol>
    <li><p>
  上传文件至samba目录：
  <br>
  windows: \\10.0.0.249\sys-main\
  <br>
  mac or linux: smb://10.0.0.249/sys-main/
  </p></li>

  <li>
    <p> select && click button: </p>
  </li>

  <form action="deploy" method="post" target="_blank">
    <input id="1" name="packname[]" type="checkbox" value="api-album.zip" />
    <label for="1">api-album.zip</label> <br>

    <input id="2" name="packname[]" type="checkbox" value="api-yyalbum.war" />
    <label for="2">api-yyalbum.war</label> <br>

    <input id="3" name="packname[]" type="checkbox" value="wap-match.war" />
    <label for="3">wap-match.war</label> <br>

    <input id="4" name="packname[]" type="checkbox" value="web-mc-manager.war" />
    <label for="4">web-mc-manager.war</label> <br>

    <input id="5" name="packname[]" type="checkbox" value="batch-mc-1.000.000-RELEASE.zip" />
    <label for="5">batch-mc-1.000.000-RELEASE.zip</label> <br>

    <input id="6" name="packname[]" type="checkbox" value="api-yycrbt.war" />
    <label for="6">api-yycrbt.war</label> <br>

    <input id="7" name="packname[]" type="checkbox" value="wap-alipay.war" />
    <label for="7">wap-alipay.war</label> <br>

    <p>
    <input name="commit" type="submit" value="v5backup" />
  </form>
  </ol>




  <li> <h3> 同步发布备份服务器相关包至正式服务器 
    (sync to online server) </h3> </li>

  <p> select && click button: </p>

  <form action="deploy" method="post" target="_blank">
    <input id="11" name="packname[]" type="checkbox" value="api-album.zip" />
    <label for="11">api-album.zip</label> <br>

    <input id="22" name="packname[]" type="checkbox" value="api-yyalbum.war" />
    <label for="22">api-yyalbum.war</label> <br>

    <input id="33" name="packname[]" type="checkbox" value="wap-match.war" />
    <label for="33">wap-match.war</label> <br>

    <input id="44" name="packname[]" type="checkbox" value="web-mc-manager.war" />
    <label for="44">web-mc-manager.war</label> <br>

    <input id="55" name="packname[]" type="checkbox" value="batch-mc-1.000.000-RELEASE.zip" />
    <label for="55">batch-mc-1.000.000-RELEASE.zip</label> <br>

    <input id="66" name="packname[]" type="checkbox" value="api-yycrbt.war" />
    <label for="66">api-yycrbt.war</label> <br>

    <input id="77" name="packname[]" type="checkbox" value="wap-alipay.war" />
    <label for="77">wap-alipay.war</label> <br>

    <p>
    <input name="commit" type="submit" value="sync" />
  </form>
</ul>
