%h1 Deploy Package Results
%ul
  %li
    hostname : #{params[:commit]}
  %li
    packname : #{params['myfile'][:filename]}
  %li
    - regex = Regexp.new("Starting.*OK", Regexp::MULTILINE)
    - if params[:result] =~ regex
      %b result : OK
    - else
      - raise params[:result].inspect
