<h2> Deploy Package Results </h2>
<hr>


<ul>
      <li> hostname : <%= params[:commit] %> </li>
      <li> packname : <%= params[:packname] %> </li>
      <li> <b> result : <%= params[:result] %> </b> </li> 
</ul>



