%h1 麦唱发布

%h2 备份服务器 (v5backup server)

%ul
  %li
    %form#confile{:action => "deploy/v5backup/confile", :target => "_blank"}
      %p
        %strong 配置文件：
        %br/
        %select{:form => "confile", :name => "packname"}
          - $packnames.each do |e|
            %option{:value => e}= e
        %input{:name => "commit", :type => "submit", :value => "view"}/
        %input{:name => "commit", :type => "submit", :value => "modify"}/
  %li
    %form{:action => "deploy/v5backup", :enctype => "multipart/form-data", :method => "post"}
      %p
        %strong 发布：
        %br/
        - if session.include?('error')
          .ms_error
            %p= session['error'].to_html
        %input{:name => "myfile", :type => "file"}/
      %p
        上传包并且点击'v5backup'按钮开始发布：
        %br/
        %input{:name => "commit", :type => "submit", :value => "v5backup"}/

%br/

%h2 同步正式服务器 (Sync production servers)

%ul
  /%li
  /  如果需要，请增加配置文件：
  /  预留位置，此功能暂未完成。。。。。
  %li
    %p
      选择并且点击'sync'按钮开始同步：
      %br/
      %select{:form => "sync", :name => "packname"}
        - $packnames.each do |e|
          %option{:value => e}= e
      %br/
    %form#sync{:action => "deploy/production", :method => "post"}
      %input{:name => "commit", :type => "submit", :value => "sync"}/
- session.clear
