
<h1> 麦唱服务器发布相关 </h1>


<h2> 备份服务器 (v5backup server) </h2>


<ul>


  <li>
  <form action="deploy/confile" id="confile" target="_blank">

  <p>
  <strong> 配置文件： </strong>

  <br>

    <select name="packname" form="confile">
      <% $packnames.each do |e| %>
        <option value="<%= e %>"><%= e %></option>
      <% end %>
    </select>

    <input name="commit" type="submit" value="view"/>
    <input name="commit" type="submit" value="modify"/>
  </p>

  </form>

  </li>




  <li> 
  <form action="deploy" method="post" enctype='multipart/form-data'>

    <p>
    <strong> 发布： </strong>

    <br>

    <input type="file" name="myfile"/>
    </p>

    <p>
    Click button to deploy:
    <br>
    <input name="commit" type="submit" value="v5backup"/>
    </p>

  </form>


  </li>


</ul>



<br>



<h2> 正式服务器 (sync to online server) </h2>
<ol>
  <li>
  如果需要，请增加配置文件：
  预留位置，此功能暂未完成。。。。。
  </li>
  <li>
  <p>
  Select && click button:
  <br>
  <select name="packname" form="sync">
    <% $packnames.each do |e| %>
      <option value="<%= e %>"><%= e %></option>
    <% end %>
  </select>
  <br>
  <form action="deploy" method="post" id="sync">
    <input name="commit" type="submit" value="sync"/>
  </form>
  </p>
  </li>
</ol>


