
<a href="http://10.0.0.249/cgi-bin/index.html" target="_blank">
  点此回到旧版,
  提醒：新版"""
  刷新Redis缓存
  替换服务器文件
  """已经可用。
</a> </p>

<h1>RisingTide-Manager</h1>

<hr/>

<ul>

<li><h2>麦唱</h2></li>

  <ul>
    <li><a href="redis" target="_blank"> 刷新Redis缓存 </a></li> </p>

    <li><a href="subfile" target="_blank"> 替换服务器文件 </a></li> </p>

    <li><a href="deploy" target="_blank"> Deploy Tomcat ".+\.(war|zip)"</a></li> </p>

    <!--
    <li><a href="deploy_v5" target="_blank"> Deploy ".+\.(war|zip) {v5(file|app|app2)}" </a></li> </p>
    -->

    <li><a href="debug" target="_blank">Debug:chklog:tomcat</a></li> </p>

    <li><a href="sync_original_music" target="_blank"> 同步麦唱伴奏到正式服务器 </a></li> </p>

    <li><a href="monitor" target="_blank">麦唱服务器监控相关</a></li> </p>

  </ul>


<li><h2>音乐</h2></li>

  <ul>
    <li><a href="v5music" target="_blank"> 音乐发布 </a></li> </p>
  </ul>
  
</ul>



