
<a href="http://10.0.0.250/cgi-bin/index.html" target="_blank">come back to old version</a> </p>



<h1>RisingTide-Manager</h1>

<hr/>

<ul>

<li><h2>MaiChang</h2></li>

  <ul>
    <li><a href="redis" target="_blank">Redis</a></li> </p>

    <li><a href="subfile" target="_blank">SubFiles</a></li> </p>

    <li><a href="deploy/v5backup" target="_blank"> Deploy ".+\.(war|zip)"</a></li> </p>

    <li><a href="deploy_v5" target="_blank"> Deploy ".+\.(war|zip) {v5(file|app|app2)}" </a></li> </p>

    <li><a href="debug" target="_blank">Debug:chklog:tomcat_java</a></li> </p>

    <li><a href="sync_mc_or_music" target="_blank">Sync mc_original_music</a></li> </p>

    <li><a href="monitor" target="_blank">Monitor</a></li> </p>

  </ul>


<li><h2>v5music</h2></li>

  <ul>
    <li><a href="v5music" target="_blank">v5music</a></li> </p>
  </ul>
  
</ul>


