<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Rising-tide Manager</title>
  </head>
  <body>

    <div id="header" class="center">
      <a href="http://10.0.0.249/cgi-bin/index.html" target="_blank">
        点此回到旧版。 ！注意：原则上，旧版不再维护！
      </a> </p>

      <h1> Rising-tide Manager </h1>
      <div class="nav">
        <a href="/"> Home </a> 
        <a href="/about"> About </a>
      </div>
    </div>


    <p></p>


    <div id="page" class="center">

      <div id="content-wrapper">
        <%= yield %>
      </div>

      <div id="sidebar">
          <h2>麦唱</h2>
        <ul>
          <li><a href="redis" > 刷新Redis缓存 </a></p> </li>
          <li><a href="subfile" > 替换服务器文件 </a></p> </li>
        <li><a href="deploy" > Deploy package: ".+\.(war|zip)"</a></p> </li>
        <li><a href="debug" >Debug:chklog:tomcat</a> </p></li>
        <li><a href="sync_mc_om" > 同步麦唱伴奏至正式服务器 </a></p> </li>
        </ul>

          <h2>音乐</h2>
        <ul>
        <li><a href="v5music" > 音乐渠道发布 </a> </p></li>
        </ul>

          <h2>其它</h2>
        <ul>

          <li><a href="backtrace" >回溯文件</a></p></li>

          <li><a href="monitor" >服务器监控</a></p></li>
        </ul>

      </div>

    </div>


  </div>
</body>

</html>
