<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>RingTide-Manager</title>
  </head>
  <body>

    <div id="header" class="center">
      <a href="http://10.0.0.249/cgi-bin/index.html" target="_blank">
        点此回到旧版。 ！注意：原则上，旧版不再维护！
      </a> </p>

      <h1> RisingTide-Manager </h1>
      <div class="nav">
        <a href="/"> Home </a> 
        <a href="/"> About </a>
      </div>
    </div>


    <p></p>
    <p></p>
    <hr>


    <div id="page" class="center">

      <div id="content-wrapper">
        <%= yield %>
      </div>

      <div id="sidebar">
          <h2>麦唱</h2>
          <hr>
        <ul>
        <li>
          <a href="redis" > 刷新Redis缓存 </a> </p>
        </li>
        <li>
          <a href="subfile" > 替换服务器文件 </a> </p>
        </li>
        <li>
          <a href="deploy" > Deploy Tomcat ".+\.(war|zip)"</a> </p>
        </li>
        <li>
          <a href="debug" >Debug:chklog:tomcat</a> </p>
        </li>
        <li>
          <a href="sync_original_music" > 同步麦唱伴奏到正式服务器 </a> </p>
        </li>
        <li>
          <a href="monitor" >麦唱服务器监控相关</a> </p>
        </li>
        </ul>

          <h2>音乐</h2>
          <hr>
        <ul>
        <li>
          <a href="v5music" > 音乐发布 </a> </p>
        </li>
        </ul>
      </div>

    </div>


  </div>
</body>

</html>
