

<h1>王彦迎的工作日报</h1>
<hr>

<ul>

  <p><b> 输入每日工作内容, 然后点击“mail”即可开始检查服务器健康状态, 生成邮件内容, 发送.  </b></p>
  <!-- <p><i> 注意：每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。 </p></i>
  -->

  <form action="mail_daily_work" method="post" target="_blank">
    <p>
      <textarea rows="15" cols="50" name="content"> </textarea>
    </p>
    <p>
    <input name="commit" type="submit" value="mail" />
  </form>

</ul>



