<h1>Redis</h1>
<hr>

<ul>
  <li> <h2> flush cache </h2> </li>

  <p> select && flush: </p>

  <form action="flush" method="post" target="_blank">
    <input id="v5backup" name="hostname[v5backup]" type="checkbox" value="1" />
    <label for="v5backup">redis - v5backup</label> <br>

    <input id="v5db" name="hostname[v5db]" type="checkbox" value="1" />
    <label for="v5db">redis - v5db</label> <br>

    <p>
    <input name="commit" type="submit" value="flush" />
</form>
</ul>


