
<h1>Subfile</h1>
<hr>


  <form action="subfile" method="post" enctype='multipart/form-data' target="_blank">
    <p> <b><i> substitude "File Path" with "Upload File" </i></b> </p>
<ol>
    <p> <li>
    <i> Upload "File" </i> <br>
    <input type="file" name="myfile" /> </br>
    </li> </p>


    <p> <li>
    <i> Type in "File Path" 
    </i> <br>
    <i> (Path Example: /u/www/mchang/faq.html) </i>
    <textarea rows="1" cols="50" name="path"> </textarea>
    </li> </p>


    <p> <li> 
    <i> Select Server </i> <br>
    <input type="checkbox" name="hostname[v5backup]" id="v5backup" value="1" />
    <label for="v5backup">v5backup</label>

    <input type="checkbox" name="hostname[v5file]" id="v5file" value="1" />
    <label for="v5file">v5file</label>

    <input type="checkbox" name="hostname[v5app]" id="v5app" value="1" />
    <label for="v5app">v5app</label>

    <input type="checkbox" name="hostname[v5app2]" id="v5app2" value="1" />
    <label for="v5app2">v5app2</label>
    </li> </p>

    <p> <li>
    <i> Click button below to finish </i> <br>
    <input name="commit" type="submit" value="subfile" />
    </li> </p>

</form>
</ol>


