

<h1>Sync Mchang Original Music</h1>
<hr>

<ul>

  <p><i> Each "om_id" should be separated with whitespace include "Space" "Tab" and "Enter". </p></i>
  <p><b> Type in "om_id" list, and then click button to sync: </b></p>

  <form action="sync_original_music" method="post" target="_blank">
    <p>
      <textarea rows="25" cols="50" name="id"> </textarea>
    </p>
    <p>
    <input name="commit" type="submit" value="sync" />
  </form>

</ul>



