<h2>同步麦唱伴奏至正式服务器</h2>
<hr>


  <p> 键入id号，然后点击“sync”按钮开始同步。</p>

  <i> 
  <p> 
  注意：
    <ul>
    <li>
      每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。
    </li>
    <li>
    id需为数字。
    </li>
    </ul>
    </p>
    </i>

  <form action="sync_mc_om" method="post" >
    <p>
      <textarea rows="20" cols="50" name="ids"></textarea>
    </p>
    <p>
    <input name="commit" type="submit" value="sync" />
  </form>




