

<h2>同步麦唱伴奏至正式服务器</h2>
<hr>


  <p><b> 键入id号，然后点击“sync”按钮开始同步。 </b></p>
  <p><i> 注意：每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。 </p></i>

  <form action="sync_mc_om" method="post" target="_blank">
    <p>
      <textarea rows="25" cols="50" name="id"> </textarea>
    </p>
    <p>
    <input name="commit" type="submit" value="sync" />
  </form>




