%h1 麦唱歌曲原唱同步结果
%ul
  %li
    ids : #{params[:ids].join(", ")}

  %li
    - if params[:result][0].nil? and params[:result][1].nil?
      %b result : OK
    -else
      - raise params[:result].inspect

