%h1 同步麦唱伴奏至正式服务器
%p 键入id号，然后点击“sync”按钮开始同步。
%i
  %p
    注意：
    %ul
      %li
        每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。
      %li
        id需为数字, 或者以".."相连的数字（表示范围）。
      %li
        7..9 是合法的，9..7将被忽略。
      %li
        例如，输入"110 120 119 1..5 7..8"表示同步id为"110 120 119 1 2 3 4 5 7 8"的歌曲。

- if session.include?('error')
  .ms_error
    %p= session['error'].to_html

%form{:action => "sync_mc_om", :method => "post"}
  %p
    %textarea{:cols => "50", :name => "ids", :rows => "10"}
  %p
    %input{:name => "commit", :type => "submit", :value => "sync"}/

- session.clear
