<h2>音乐渠道发布</h2>
<hr>


<p><b> 键入id号，然后点击按钮开始发布。 </b></p>
<p><i> 注意：每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。 </p></i>


<form action="v5music" method="post" id="v5music">

  <select name="type" form="v5music">
    <option value="samsung-free">samsung-free</option>
    <option value="samsung-bill">samsung-bill</option>
    <option value="other-free">other-free</option>
    <option value="other-bill">other-bill</option>
  </select>

  <p>
  <textarea rows="20" cols="50" name="ids"> </textarea>
  </p>


  <input name="commit" type="submit" />
</form>



