<h2>音乐渠道发布</h2>
<hr>


  <ul>
  <li>
    若需要，请上传zip包。
  </li>
  <li>
    然后选择一个类型，键入id号，点击按钮开始发布。
    <br>
    注意：
    <ul>
    <li>
      每两个id号之间需要用至少一个“空格” “回车”或者“tab”键分割开。
    </li>
    <li>
      id必须为8位数字。
    </li>
    </ul>
  </li>
  </ul>


  <p>
    <form action="v5music" method="post" id="v5music" enctype='multipart/form-data'>
    <input type="file" name="myfile"/>
    <br>
    <select name="type" form="v5music">
      <% $types.each do |e| %>
        <option value="<%=e%>"> <%=e%> </option>
      <% end %>
    </select>

    <textarea rows="15" cols="50" name="ids"></textarea>
    <br/>

    <input name="commit" type="submit" />
  </form>


  </p>

